<div class="hero-head">
  <nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="/shelf">
            <span class="is-size-1">Movie Shelf</span>
        </a>
        <div class="navbar-burger burger nav-toggle" aria-label="menu" aria-expanded="false" aria-data-target="navbarMenu" id="nav-toggle">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
    </div>    
    
    <div id="navbarMenu" class="nav-end nav-menu" id="nav-menu">
        <div class="navbar-end">
            {{#if loggedIn}}
            <div class="navbar-item is">
                <a class="button is-white is-outlined" href="/shelf">
                    My Shelf
                </a>
            </div>
            <div class="navbar-item">
                <a class="button is-white is-outlined" href="/shelf/search">
                    Browse Movies
                </a>
            </div>
            <div class="navbar-item">
                <a class="button is-white is-outlined" href="/users">
                   Browse Shelves
                </a>
            </div>

        
            <span class="navbar-item">
                <a class="button is-white is-outlined" id="logout">
                    <span>Logout</span>
                </a>
            </span>
            {{else}}
            <span class="navbar-item">
                <a class="button is-white is-outlined" href="/signup">
                    <span>Sign Up</span>
                </a>
            </span>
        <span class="navbar-item">
                <a class="button is-white is-outlined" href="/login">
                    <span>Login</span>
                </a>
            </span>
            {{/if}}
        </div>
    </div>
  </nav>
  <div class="columns">
      <div class="column has-text-centered">
        <p>Guess the movie: {{>quote}}</p>
      </div>
    </div>
  </div>
   <script src='/javascript/moviequotes.js'></script>
   <script src='/javascript/navburger.js'></script>
 
