<nav class="breadcrumb is-centered" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/api/users">Users</a></li>
    <li><a href="#">Sign Out</a></li>
    <li class="is-active"><a href="/shelf" aria-current="page">My Shelf</a></li>
  </ul>
</nav>