
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item1">
        Movie Shelf
        </a>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/shelf" class="navbar-item">
            Home
          </a>
    
          <a href="/shelf/search"class="navbar-item">
            Explore
          </a>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-ghost" href="/signup">
                <strong>Sign up</strong>
                
                
              </a>
              {{#if loggedIn}}
              <a class="button is-ghost btn-no-style" id="logout"><strong>logout</strong></a>
              {{else}}
              <a class="button is-ghost" href="/login"><strong>login</strong></a>


          </div>
        </div>
      </div>
    </nav>
    