 <body>
    <p id="title">Movie Shelf</p>

    <div class="add-flex">
      <p id="description">
        Keep track of movies you've watched and find new titles you'll love with this virtual movie library!
      </p>
    </div>
    <div id="loginbutton">
      <button class="button is-ghost is-large">Login</button>
    </div>

    <div id="signupbutton">
      <button class="button is-ghost is-large">Sign-Up</button>
    </div>
    
    <footer></footer>
  </body>

  