
  {{!-- {{>navigation}} --}}
    <p id="title">Movie Shelf</p>

    <div class="add-flex">
      <p id="description">
        Keep track of movies you've watched and find new titles you'll love with this virtual movie library!
      </p>
    </div>
    <div id="loginbutton">
      <button onclick="login();" class="button is-ghost is-large">Login</button>
    </div>

    {{!-- <div id="signupbutton"> --}}
      <button onclick="signUp();" id="signupbutton" class="button is-ghost is-large">Sign-Up</button>
    {{!-- </div> --}}
    
    <footer></footer>
  
  <script src="/javascript/homepage.js"></script>
  