 <body>
    <p id="title">Login</p>

    <div class="container">
      <section class="column is-4 is-offset-4">
      <div id="input1">
        <input class="input is-large" type="text" placeholder="userame" />
      </div>

      <div id="input1">
        <input class="input is-large" type="text" placeholder="password" />
      </div>

      <div id="submitbutton">
        <button class="button is-ghost is-large">submit</button>
      </div>
    </section>
    </div>
    <footer></footer>
  </body>