{{>nav2}}
  <p id='title'>Login</p>
  <form class='login-form'>
    <div class='container'>
      <section class='column is-4 is-offset-4'>

        <div id='input1'>
          <input
            class='input is-large'
            id='username-login'
            type='text'
            placeholder='username'
          />
        </div>

        <div id='input1'>
          <input
            class='input is-large'
            id='password-login'
            type='password'
            placeholder='password'
          />
        </div>

        <div>
          <button
            id='submitbutton'
            class='button is-ghost is-large'
            type='submit'
          >Submit</button>
        </div>

      </section>
    </div>
  </form>

<script src='/javascript/login.js'></script>