
{{>nav2}}
    <p id="title3" class ="title is-size-4-mobile  has-text-centered redText">Search For Movies You Love</p>
<form action="submit" id="movie-search-form">
    <div class="container">
      <section class="column is-4 is-offset-4">

      <div >
        <input class="input is-large" type="text" placeholder="enter a movie title" id="movie-search"/>
      </div>

      <div>
        <button class="button is-ghost is-centered is-large" id="createbutton">search</button>
      </div>
  
    </section>
    </div> 
</form>
    
<div class="container is-fluid">
    

    <div id="movie-list" class="columns is-mobile is-flex-wrap-wrap is-flex-direction-row "></div>
    </div>



  <script src="/javascript/search.js"></script>

  <script src="/javascript/addMovie.js"></script>

