
{{>nav2}}


<p id="title3" class ="title is-size-4-mobile has-text-centered redText mt-4">Search For Movies You Love</p>
<div class="columns is-mobile ">
  <div class="column is-half is-offset-one-quarter">
    <form class="box background-transparent" action="submit" id="movie-search-form">
      <div class="field">
        <div class="control ">
          <input class="input is-large is-flex-grow-2 mb-2" type="text" id="movie-search"/>
        </div>
        <div class="control">
          <div class="buttons is-centered">
            <button class="button is-ghost is-large" id="createbutton">search</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="container is-fluid">
    

    <div id="movie-list" class="columns is-centered is-mobile is-flex-wrap-wrap is-flex-direction-row "></div>
    </div>



  <script src="/javascript/search.js"></script>

  <script src="/javascript/addMovie.js"></script>

