
{{>nav2}}
    <p id="title3">Search For Movies You Love</p>
<form action="submit" id="movie-search-form">
    <div class="container">
      <section class="column is-4 is-offset-4">

      <div >
        <input class="input is-large" type="text" placeholder="enter a movie title" id="movie-search"/>
      </div>

      <div>
        <button class="button is-ghost is-large" id="createbutton">search</button>
      </div>
  
    </section>
    </div> 
    <div class="columns is-flex-wrap-wrap is-flex-direction-row">

    <div id="movie-list"></div>
    </div>
</form>

  <script src="/javascript/search.js"></script>

  <script src="/javascript/addMovie.js"></script>

