 <body>
    <p id="title">Sign-Up</p>

    <div class="container">
      <section class="column is-4 is-offset-4">
      <div id="input2">
        <input class="input is-large" id="username-login" type="text" placeholder="username" />
      </div>

      <div id="input2">
        <input class="input is-large" id="password-login" type="text" placeholder="choose a password" />
      </div>

      <div id="createbutton">
        <button class="button is-ghost is-large">create account</button>
      </div>
    </section>
    </div>
    <footer></footer>
  </body>
    <script src="/javascript/signup.js"></script>